* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: var(--line-height);
}

html {
	overflow-x: hidden;
}

body {
	height: 100vh;
	width: 100%;
	color: var(--font-color-primary);
	font-family: var(--font-primary);
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

/* Used to make the auto placed div wrapper behave like body tag */
/* #routify-app {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
} */

:root {
	--border: 2px solid black; /* For development purposes */
	--line-height: 1.6;

	/* fonts */
	--font-primary: "Karla", sans-serif;
	--font-secondary: "Nunito", sans-serif;

	/* font color */
	--font-color-primary: #333;
	--font-color-secondary: #535968;
	--grey: #555;
	--light-grey: #707070;
	--green: #77b122;

	/* font sizes */
	--small: 0.875rem;
	--normal: 1rem;
	--large: 1.5rem;
	--very-large: calc(var(--huge) - 10px);
	--huge: 2.5rem;

	/* font weights */
	--regular: 400;
	--medium: 500;
	--semibold: 600;
	--bold: 700;
}

@media screen and (max-width: 768px) {
	:root {
		--small: 0.775rem;
		--normal: 0.975rem;
		--large: 1.2rem;
		--huge: 2.1rem;
	}
}

@media screen and (max-width: 300px) {
	:root {
		--small: 0.575rem;
		--normal: 0.675rem;
		--large: 0.8rem;
		--huge: 1.5rem;
	}
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	border: none;
	outline: none;
}

ul {
	list-style: none;
}
